
@{
    ViewBag.Title = "StudentHome";
}

<h2>Student</h2>
<div class="">
    @*<a href='@Url.Action("SendEmailHome", "Admin", new { id = park.ParkCode })'>See detail</a>*@
    
    <a href='@Url.Action("SendEmailHome", "Admin")'>See detail</a>
</div>
<button type="submit" id="sendEmail-button">Send Email</button>

