@using Critter.Web.Extensions;

@{
    ViewBag.Title = "StudentHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>

<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">qqq</span>
    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>