
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/tee.ico" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/css/crus.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/fresh-bootstrap-table.css"/>


    @*--*@
    <!-- Style -->

    <!-- Fonts and icons -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

</head>

    <body>
        <div>
        
            @RenderBody()
            
        </div>
       
    </body>
</html>
